!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      = exception.class
    %div
      #{exception.message}
      %ul
        - exception.backtrace.each do |line|
          = line
          %br
    - while exception.cause
      - exception = exception.cause
      %h2
        Caused by: #{exception.class}
      %div
        #{exception.message}
        %ul
          - exception.backtrace.each do |line|
            = line
            %br
